{{!-- Citation for the following: index.hbs --}}
{{!-- Date: 3/18/2022 --}}
{{!-- Source URL: All code is entirely our own work. --}}

<html>
<head>
<title>Home</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<h1>SAUDI AMERICA</h1>

<nav>
    <a href="/">HOME</a> | <a href="/orders">ORDERS</a> | <a href="/securities">SECURITIES</a> | <a href="/security-codes">SECURITY CODES</a> | <a href="/security-codes-securities">SECURITY CODES SECURITIES</a> | <a href="/investors">INVESTORS</a> | <a href="/investor-types">INVESTOR TYPES</a> | <a href="/positions">POSITIONS</a>
</nav>

<h2>Welcome to Saudi America!</h2>
<body>
    <br>
    <p><strong>Here are the following operations you may peform on each page:</p></strong>
    <br>
    <p><u><strong>Orders:</strong></u> View, Insert</p>
    <p><u><strong>Securities:</strong></u> View, Insert</p>
    <p><u><strong>Security Codes:</strong></u> View, Insert</p>
    <p><u><strong>Security Codes Securities:</strong></u> <span> View, Insert, Update (M:N), Delete</span> <span>(M:N)</span></p>
    <p><u><strong>Investors:</strong></u> <span> View, Insert</span> <span>(nullable FK - investorTypeID)</span></p>
    <p><u><strong>Investor Types:</strong></u> View, Insert</p>
    <p><u><strong>Positions:</strong></u> View, Insert</p>
    <br>
    <br>
    <br>
</body>

<h4>&copy 2024 Saudi America</h4>

</html>
